.movie-buttons-container {
    display: flex;
    justify-content: center;
}

.hover-link {
    text-decoration: none;
}

.play-button-icon-container {
    display: flex;
    align-items: center;
}

.play-button-icon {
    margin-right: 5px;
}

.play-button-icon-container {
    padding: 0;
    margin: 0;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-button-icon {
    padding: 0;
    margin: 0;
    color: gold;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
}

.play-button-icon:hover {
    font-size: 4rem;
    color: goldenrod;
}